// Colors

$light-red: hsl(0, 100%, 67%);
$light-red-bg: hsla(0, 100%, 67%, 0.06);

$orangey-yellow: hsl(39, 100%, 56%);
$orangey-yellow-bg: hsla(39, 100%, 56%, 0.06);

$green-teal: hsl(166, 100%, 37%);
$green-teal-bg: hsla(166, 100%, 37%, 0.06);

$cobalt-blue: hsl(234, 85%, 45%);
$cobalt-blue-bg: hsla(234, 85%, 45%, 0.06);

$gradient-light-slate-blue: hsl(252, 100%, 67%);
$gradient-light-royal-blue: hsl(241, 81%, 54%);

$gradient-violet-blue: hsla(256, 72%, 46%, 1);
$gradient-persian-blue: hsla(241, 72%, 46%, 0);

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$very-light-lavender: hsla(241, 100%, 89%, 0.6);
$dark-gray-blue: hsl(224, 30%, 27%);
$light-gray-blue: hsla(224, 30%, 27%, 0.6);
